.App {
    width: 600px;
    margin-left: 300px;
    margin-bottom: 200px;
}

.samurai {
    text-align: center;
}

.name-container {
    width: 400px;
    margin: auto;
    text-align: center;
}

.greeting {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: darkred;
}

.name-button {
    margin: 8px;
    background-color: darkred;
    color: white;
}

.false-star {
    margin: 5px;
    width: 40px;
    height: 40px;
}

.true-star {
    margin: 5px;
    width: 40px;
    height: 40px;
}

.button {
    margin: 5px;
    padding: 6px;
    background-color: darkslateblue;
    color: white;
}

.gif {
    width: 500px;
    text-align: center;
    padding: 10px;
}